body{
font-family:arial:}
.main-box {
  
border:10px solid black;

display:flex;
flex-direction:column;
/*justify-content:space-between;
align-items:flex-start;
*/
height:400px;
align-items:flex-start;
flex-wrap:wrap;
align-content:space-around;
justify-content:space-evenly;

}
.box{
border:1px solid gray;
/*width:400px;*/

}
.box1{
background-color:gray;


}
.box2{
background-color:green;
}
.box3{

background-color:lightblue;

}
.box4{
background-color:orange;
}
.box5{
	background-color:#d2f7f2;
}
