body{
	background:black;
}
.box{
	width:50px;
	height:50px;
	background:#f5837a;
	border-radius:50%;
	position:relative;
	/*animation-name:move;
	animation-duration:3s;
	animation-iteration-count:infinite;
	animation-delay:2s;
    animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;*/
	animation:move 10s forwards 2s infinite ease-in;
}
@keyframes move{
	0%{
		top:0px;
		left:0px;
		background:gray;
	}
	25%{
		top:0px;
		left:300px;
		background:blue;
	}
	50%{
		top:300px;
		left:300px;
		background:brown;
	}
	75%{
		top:300px;
		left:0px;
		background:yellow;
	}
	100%{
	top:0px;
		left:0px;
		background:#c0fcb1;	
	}
}