body{
font-family:arial:}
.main-box{
border:10px solid black;
display:flex;
flex-direction:row-reverse;
/*flex-direction:row-reverse;
flex-direction:column;
flex-direction:column-reverse;
*/
}
.box{
border:1px solid gray;

}
.box1{
background-color:gray;
}
.box2{
background-color:green;
}
.box3{

background-color:lightblue;
}
.box4{
background-color:orange;
}
.box5{
	background-color:#d2f7f2;
}

