body{
font-family:arial;
}
.container{
	border:4px solid green;
	width:800px;
	height:1200px;
	margin-top:50px;
	margin-bottom:50px;
	
}
.container h1 {
	border:2px solid red ;
	background:lightgreen;

	/*position:static;
	position:relative;
	top:100px;
	z-index:-1;*/
	
	/*position:absolute;
	top:0px;
	right:550px;*/
	
}
 h3{
	background:lightblue;
	/*position:fixed;
	top:0px;
	z-index:10;*/
	position:sticky;
	top:0px;
}
.container p{
	border:2px solid brown;
	background:orange;
}